@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&family=Permanent+Marker&family=Staatliches&display=swap');


body{
	font-family: 'Titillium Web', sans-serif;
	color: #1E1014;
	background-color: #2a2a2a;
}

header{
	display: flex;
	align-items: center;
	height: 120px;
	background-color: #ee4a22;
}

h1{
	margin-left: 10px;
	font-family: 'Staatliches', cursive;
	letter-spacing: 1px;
}

#BackDoor{
	color: #fffff2;
	font-family: 'Permanent Marker', cursive;
	position: relative;
	bottom: 5px;
	margin-right: 3px;
}

#logo{
	width: 100px;
	border-radius: 50px;
	margin-top: 5px;
	margin-left: 40px;
	margin-bottom: 5px;
}

audio{
	float: right;
}

#content{
	padding: 15px;
	color: #FCFCFC;
	margin-bottom: 5px;
	margin-left: 140px;
	background-color: #cf221c;
}

#content > h1{
	font-family: 'Kanit', sans-serif;
	position: relative;
	bottom: 5px;
	text-decoration: underline;
	background-color: #d94545;
	height: 3vw;
	text-align: center;
}

#VLiveHeader, #SpotifyHeader, #YTHeader{
	display: flex;
}

#VLiveHeader h3{
	margin-left: 10px;
	position: relative;
	bottom: 10px;
}

#SpotifyHeader h3{
	margin-left: 10px;
	position: relative;
	bottom: 10px;
}

#YTHeader h3{
	margin-left: 10px;
	position: relative;
	bottom: 13px;
}

#VLiveLogo, #SpotifyLogo, #YTLogo{
	width: 45px;
	border-radius: 20px;
}

#YTLogo{
	border: 1px solid black;
}

#VLiveLogo:hover{
	transform: scale(1.1, 1.1);
}

#SpotifyLogo:hover{
	transform: scale(1.1, 1.1);
}

#YTLogo:hover{
	transform: scale(1.1, 1.1);
}

#SurvivalShow a{
	text-decoration: none;
	color: white;
}

#Shows a{
	text-decoration: none;
	color: white;
}

#SurvivalShow{
	width: 50%;
	float: left;
}

#SurvivalIcon, #KDIcon{
	height: 250px;
	border-radius: 10px;
}

#SurvivalIcon:hover{
	transform: scale(1.1, 1.1);
}

#KDIcon:hover{
	transform: scale(1.1, 1.1);
}

nav{
	float: left;
	width: 100px;
	padding: 13px 16px;
	margin-right: 20px;
	color: #FCFCFC;
	background-color: #d94c30;
	position: sticky;
	top: 0;
	height: 734px;
}

nav img{
	width: 65px;
	border-radius: 10px;
	vertical-align: center;
	display: block;
	margin: auto;
}

nav img:hover{
	transform: scale(1.1, 1.1);
}

nav h5{
	text-align: center;
	position: relative;
	bottom: 15px;
	color: white;
}

nav a{
	text-decoration: none;
}

#currentPage{
	color: #c3c3c3;
	text-decoration: underline;
}

footer{
	float: left; /*the float is needed or else the nav will be hidden by the footer.*/
	background-color: #6d151b;
	color: white;
	position: relative;
	bottom: 0px;
	width: 100%;
	padding: 4px;
}

#sources{
	text-align: center;
}

footer a{
	word-spacing: 3px;
	text-decoration: none;
	color: #9bb5f9;
}

footer a:hover{
	color: white;
}

.YTsprite {
	background: url('../images/SocmedIcons.png') no-repeat -160px -161px;
	width: 88px;
	height: 88px;
	float: right;
}

.YTsprite:hover {
	background: url('../images/SocmedIconsHover.png') no-repeat -159px -160px;
	width: 90px;
	height: 90px;
}

.TWTsprite {
	background: url('../images/SocmedIcons.png') no-repeat -160px -40px;
	width: 88px;
	height: 88px;
	float: left;
}

.TWTsprite:hover {
	background: url('../images/SocmedIconsHover.png') no-repeat -159px -39px;
	width: 90px;
	height: 90px;
}

.IGsprite {
	background: url('../images/SocmedIcons.png') no-repeat -400px -40px;
	width: 88px;
	height: 88px;
	margin: auto;
}

.IGsprite:hover {
	background: url('../images/SocmedIconsHover.png') no-repeat -399px -39px;
	width: 90px;
	height: 90px;
}